openapi: 3.2.0
info:
  title: Caris Life Sciences (Public Surface) Information API
  description: Caris Life Sciences does not publish a public, self-serve developer API or machine-readable API reference.
  contact:
    name: Caris Life Sciences Customer Support
    email: CustomerSupport@CarisLS.com
    url: https://www.carislifesciences.com/contact/
  version: '0.1'
servers:
- url: https://portal.caris.ai
  description: Caris+Portal clinician web application (browser-based; no documented public API).
- url: https://www.carislifesciences.com
  description: Caris Life Sciences public website (marketing and partner information).
tags:
- name: Information
  description: Public informational pages for ordering and integration partners.
paths:
  /order/:
    servers:
    - url: https://www.carislifesciences.com
    get:
      operationId: getOrderingInformation
      tags:
      - Information
      summary: Test ordering information
      description: Public informational page describing how clinicians order Caris molecular profiling tests via the Caris+Portal, manual requisition forms, or EHR integration. Informational HTML only; no programmatic ordering endpoint is documented.
      responses:
        '200':
          description: Ordering information page (HTML).
          content:
            text/html:
              schema:
                type: string
  /partners/ehr-integrations/:
    servers:
    - url: https://www.carislifesciences.com
    get:
      operationId: getEhrIntegrationInformation
      tags:
      - Information
      summary: EHR integration partner information
      description: Public informational page listing supported EHR integration partners and the orders-and-results integration model. Partner integrations are provisioned individually; no public integration API specification is published.
      responses:
        '200':
          description: EHR integration information page (HTML).
          content:
            text/html:
              schema:
                type: string
